<?xml version="1.0" encoding="utf-8"?>
<!-- ParanoidOTA: Provider of Paranoid Android Over the Air (OTA) updates.
     Copyright (C) 2015 ParanoidAndroid Project

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paranoid.paranoidota"
    android:versionCode="23"
    android:versionName="6.0">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <application />

</manifest>
